
.team{
    width:100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.team h3{
    font-weight: 400;
    color:#212121;
    border-bottom: 4px;
    display: inline-block;
    padding-bottom: 8px;
}

.members{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.colorpicker{
    position: absolute;
    top :32px;
    right: 32px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}